<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Lesson11" frontName="Lesson11-Oop">
            <module name="BelodubrovskyiAn_Lesson11ModuleOop"/>
        </route>
    </router>
</config>