<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="BelodubrovskyiAn\AskQuestion\Model\ResourceModel\AskQuestion\Grid\CollectionVirtual"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable"
                      xsi:type="string">belodubrovskyian_ask_question
            </argument>
            <argument name="resourceModel"
                      xsi:type="string">BelodubrovskyiAn\AskQuestion\Model\ResourceModel\AskQuestion
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="question_data_source"
                      xsi:type="string">BelodubrovskyiAn\AskQuestion\Model\ResourceModel\AskQuestion\Grid\CollectionVirtual</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="update_product_qty" xsi:type="object">
                    BelodubrovskyiAn\AskQuestion\Console\Command\UpdateProductQty
                </item>
            </argument>
        </arguments>
    </type>
</config>